* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  padding: 70px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

h1.tcr {
  padding-top: 30vh;
  padding-bottom: 30vh;
}

h2 {
  font-size: 30px;
  font-weight: lighter;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  word-wrap: break-word;
}

body {
  font-family: "Goldman", cursive;
}

body.dark {
  background-color: black;
  color: white;
}

body.hacker {
  background-image: url("img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.left {
  float: left;
  margin-bottom: 60px;
}

.right {
  float: right;
  margin-bottom: 60px;
}

#bericht {
  height: 15rem;
  width: 40rem;
}

#email {
  width: 40rem;
}

#naam {
  width: 40rem;
}

form {
  text-align: center;
  margin-bottom: 120px;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

.dropbtn {
  background-color: #00a8c7;
  color: white;
  padding: 16px;
  font-size: 2.5rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #00a8c7;
  padding: 12px 16px;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E9E9E9;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ffffff; color: #00a8c7;}

footer {
  background-color: #00a8c7;
  color: white;
  margin-top: auto;
  font-size: 18px;
  align-content: center;
  text-align: center;
  height: 10vh;
  width: 100%;
}